/*Color palette soruce: https://colorhunt.co/palette/f9f7f7dbe2ef3f72af112d4e

/*prevent padding disortion*/
*{
    margin: 0;
    box-sizing: border-box;
}

/*white spaces on left and right, main page take up 80%*/
#pageWrapper {
    width: 80vw;
    margin: 0 auto;
}

/*css style for header, content on screen > 750px should be aligned left*/
header {
    font-family: 'Brush Script MT', 'Brush Script std', cursive;
    font-size: calc(5px + 2vw);
    color: #F9F7F7;
    background-color: #3F72AF;
    display: flex;
    flex-direction: column;
    padding: 2vw;
}

/*screen > 750px should not exceed 30% of width of parent*/
nav {
    width: 30%
}

/*css style for the unordered list of internal links inside nav*/
nav ul {
    list-style: none; /*remove bullet points*/
    display: flex;
    flex-direction: column; /*make sure vertical on screen > 1000px*/
    justify-content: space-evenly;
    background-color: #DBE2EF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*css style for the list of links*/
nav li {
    font-family: "Gill Sans", sans-serif;
    font-size: calc(1px + 2vw);
    padding: 2vh 1vw;
    margin: 3vh;
    border: solid #3F72AF;
    border-radius: calc(1px + 1vw);
    background-color: #3F72AF;

}

/*css style for links inside nav*/
nav ul li a {
    color: #F9F7F7;
    text-decoration: none; /*removes underline of link*/
}

/*screen > 1000px should not have main exceed 70% of width of parent
css style of overall main tag*/
main {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #F9F7F7;
}

/*css style for secondary header(internal link title)*/
h2 {
    font-family: "Gill Sans", sans-serif;
    color: #112D4E;
    text-align: center;
    padding: 1vh;
}

/*css styling for personal project*/
#personal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #112D4E;
    padding: 1vh 1vw;
}

/*remove link styling for title of game*/
a {
    color: #112D4E;
    text-decoration: none;
}
/*css styling for main texts of personal projeect*/
td {
    font-size: calc(4px + 1vw);
    color: #112D4E;
    border: solid 2px #3F72AF;
    padding: 1vw 1vh;

}

h3 {
    text-align: center;
    padding: 1vw 1vh;
}

/*css styling for overall calculator*/
#calc {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #112D4E;
}

/*css style for overall input, including input button and label*/
#calcInput {
    font-size: calc(4px + 1vw);
    display: flex;
    flex-direction: row;
    width: 100%;
}

/*css styling for both input boxes*/
input[type="text"] {
    padding: 1vh;
    font-size: calc(3px + 1vw);
    border: calc(1px + 0.1vw) solid #3F72AF;
    border-radius: calc(1px + 1vw);
    background-color: #F5F5F5;
}
/*css styling for lable values*/
label {
    padding: 1vw;
}

/*css styling for all buttons*/
#calcButton {
    width: 60%;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
   
}

/*css styling for individual buttons*/
button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #112D4E;
    font-size: calc(2px + 1vw);
    background-color: #DBE2EF;
    padding: 1vh 1.5vw;
    border: calc(1px + 0.1vw) solid #3F72AF;
    border-radius: calc(1px + 1vw);
    margin-left: auto;
    margin-right: auto;
}

/*css styling for result of calculator*/
#output {
    width: 50%;
    border: calc(1px + 0.1vw) solid #3F72AF;
    border-radius: calc(1px + 1vw);
    background-color: #F5F5F5;
    padding: 1.5vh 1vw;
    margin-left: auto;
    margin-right: auto;

}

footer {
    font-family: Arial, sans-serif;
    background-color: #112D4E;
    color: #F9F7F7;
    font-size: calc(1px + 1vw);
    padding: 1vh 1vw;
    align-items: baseline;
}

footer a {
    text-decoration: none; /*removes underline of link*/
    color: #F9F7F7;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/*mobile device screen 750 -1000px*/
@media screen and (max-width: 900px) {

    /*screen < 750px should have content aligned center*/
    header {
        text-align: center;
        font-size: calc(6px + 3vw);
    }

    /*occupy 100% of the width of its parent*/
    nav {
        width: 100%
    }

    /*nav change to horizontal on mobile/smaller screen*/
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }

    /*reduce size for internal links on smaller devices*/
    nav li {
        font-size: calc(1px + 2vw);
        padding: 0.5vh 0.5vw;
        margin: 0.5vh;
        border-radius: calc(1px + 1vw);
    }

    /*screen < 1000px should occupy 100% of the width of its parent*/
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
    }


    /*increase text font on smaller screen*/
    /*css styling for personal project in smaller screen*/
    td {
        font-size: calc(7px + 1vw);
        color: #112D4E;
        border: solid 2px #3F72AF;
        padding: 1vw 1vh;
    }

    #calcInput {
        font-size: calc(4px + 2vw);
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    /*css styling for both input boxes*/
    input[type="text"] {
        padding: 1vh 1vw;
        font-size: calc(5px + 1vw);
    }
    /*css styling for lable values*/
    label {
        padding: 1vw;
    }

    /*css styling for all buttons*/
    #calcButton {
        width: 60%;
        padding: 2vh 2vw;
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    
    }

    button {
        font-size: calc(6px + 1vw);
        padding: 1vh 2vw;
        border: calc(1px + 0.1vw) solid #3F72AF;
        border-radius: calc(1px + 1vw);
        margin-left: auto;
        margin-right: auto;
    }

    #output {
        width: 50%;
        padding: 1vh 1vw;
        margin-left: auto;
        margin-right: auto;

    }
    
    #container {
        width: 100%;
        flex-direction: column;
    }
}